article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #FFC627;
    p,li{
        color: var(--md-typeset-color);
    }
}

:root  > * {
    --md-primary-fg-color:        #8C1D40;
    --md-primary-fg-color--light: #8C1D40;
    --md-primary-fg-color--dark:  #8C1D40;
  }