article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #ffc;
    p,li{
        color: var(--md-typeset-color);
    }
}

:root  > * {
    --md-primary-fg-color:        #8C1D40;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }